.start_container {
    height: 100vh;
    /* pentru a ocupa tot ecranul */
    background-image: url('/images/start_page_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn {
    border-width: 3px;
    font-size: 1.3rem;
}

button:hover {
    transform: scale(1.05);
}

.title {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #00e0ff;
    text-shadow:
        0 0 10px #00e0ff,
        0 0 20px #ff66cc,
        0 0 30px rgba(255, 102, 204, 0.5);
}

.title:hover {
    color: #ff66cc;
}