.start_container {
    height: 100vh;
    /* pentru a ocupa tot ecranul */
    background-image: url('/images/snake_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#game {
  background-color: rgba(255, 255, 255, 0.7);
  width: 800px;
  height: 600px;
  border: 1px solid black;
  position: relative;
}

#apple {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  position: absolute;
  background-color: rgb(255, 239, 16);
}

.block {
  width: 40px;
  height: 40px;
  border-radius: 16px;
  position: absolute;
  background-color: rgba(39, 181, 39, 0.9);
}

.block.head {
  background-color: rgba(28, 209, 28, 0.9);
}

.leaderboard {
  background-color: rgba(39, 181, 39, 0.5);
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-top: 8px;
} 

.leaderboard h4 {
  text-align: center;
}

.btn {
    border-width: 3px;
    font-size: 1.3rem;
}

button:hover {
    transform: scale(1.05);
}

.message {
  color: white;
  margin-top: 10x;
  margin-bottom: 0px;
}