main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
}

h1 {
    text-align: center;
    font-size: 5rem;
    color: #00e0ff; 
    text-shadow: 0 0 10px #00e0ff, 0 0 20px rgba(255, 235, 59, 0.6); 
    margin-bottom: 1rem;
    transition: color 0.2s, text-shadow 0.2s;
}

h1:hover {
    color: #ffeb3b; 
    text-shadow: 0 0 10px #ffeb3b, 0 0 20px rgba(0, 224, 255, 0.6); 
}

.chat_container {
    width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #4CAF50;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.chat_form {
    display: flex;
    gap: 10px;
}

.chat_input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
}

.chat_button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #0000ff;;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.chat_button:hover {
    background-color: #0000e6;
    transform: scale(1.05);
}
.chat_button:active {
    transform: scale(0.98);
}

.chat_button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.b2 {
    padding: 10px 12px;
    width: 150px;
    height: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    margin: 3px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.b2:hover {
    background-color: #e60000;
    transform: scale(1.05);
}