.start_container {
    height: 100vh;
    /* pentru a ocupa tot ecranul */
    background-image: url('/images/games_page_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #ffeb3b;
    text-shadow:
        0 0 10px #ffeb3b,
        0 0 20px rgba(0, 224, 255, 0.6),
        0 0 30px rgba(0, 224, 255, 0.3);
}

.title:hover {
    color: #ff8a00; /* portocaliul din raze */
    text-shadow:
        0 0 4px #ff8a00,
        0 0 8px #ff5e9c,
        0 0 12px rgba(255, 94, 156, 0.35);
}

.btn {
    border-width: 3px;
    font-size: 1.3rem;
}

button:hover {
    transform: scale(1.05);
}