.start_container {
    height: 100vh;
    /* pentru a ocupa tot ecranul */
    background-image: url('/images/snake_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #f3e5ab; 
    text-shadow:
        0 0 8px #d4af37,
        0 4px 10px rgba(0, 0, 0, 0.7);
}

.title:hover {
    color: #ffd700;
    text-shadow:
        0 0 15px #ffeb3b,
        0 0 25px rgba(212, 175, 55, 0.8);
}

.btn {
    border-width: 3px;
    font-size: 1.3rem;
}

button:hover {
    transform: scale(1.05);
}