<div class="container-fluid d-flex flex-column justify-content-center start_container">
  <div class="row">
    <div class="col-md-2 mx-md-5 p-1 text-start">
      <div class="row mb-1">
        <div class="col-12 p-1 text-start leaderboard">
          <h4>Leaderboard</h4>
          <ol>
            <li *ngFor="let user of leaderboard">
              {{ user.username }} — {{ user.highScore }}
            </li>
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="row mb-1">
            <div class="col-12">
              <h5 class="message">Good luck, {{username}}! Score: {{points}}! Mode: Easy!</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="row mb-1">
                <div class="col-12">
                  <button class="btn btn-success btn-lg d-block w-100 fw-bold" (click)="startGame()">
                    {{ playing ? 'Restart' : 'Play again' }}
                  </button>
                </div>
              </div>

              <div class="row mb-1">
                <div class="col-12">
                  <button class="btn btn-danger btn-lg d-block w-100 fw-bold" (click)="goToStartPage()">
                    Back
                  </button>
                </div>
              </div>

              <div class="row mb-1">
                <div class="col-12">
                  <button class="btn btn-primary btn-lg d-block w-100 fw-bold" (click)="onLogout()">
                    Logout
                  </button>
                </div>
              </div>

              <div class="row mb-1">
                <div class="col-12">
                  <button class="btn btn-warning btn-lg d-block w-100 fw-bold" (click)="togglePause()">
                    {{ pause ? 'Resume' : 'Pause' }}
                  </button>
                </div>
              </div>

              <div class="row mb">
                <div class="col-12">
                  <h4 style="color: white;">{{message}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div id="game">
          <div class="piece">
            <div *ngFor="let row of arena; let y = index" class="row">
              <div *ngFor="let cell of row; let x = index" class="cell"
                [ngStyle]="{ 'background': getCellColor(x, y) }">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="next_piece_container">
          <h3>Next Piece</h3>
          <div class="next_piece">
            <div *ngFor="let row of nextPieceArena; let y = index" class="row">
              <div *ngFor="let cell of row; let x = index" class="cell"
                [ngStyle]="{ 'background': getNextPieceColor(x, y) }">
              </div>
            </div>
          </div>
          <h3>Score: {{ points }}! Level: {{ level }}!</h3>
          <h3>{{message}}</h3>
        </div>
      </div>

    </div>