.start_container {
    height: 100vh;
    /* pentru a ocupa tot ecranul */
    background-image: url('/images/tetris_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#game {
    width: 400px;
    height: 805px;
    border: 3px solid #000;
    background-color: #f0f0f050;
    position: relative;
}

.piece {
    margin: 0px;
}

.next_piece_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.rows {
    display: flex;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.next_piece {
    margin: 10px;
    background-color: #f0f0f0;
}

.leaderboard {
  background-color: rgba(39, 181, 39, 0.5);
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-top: 8px;
} 

.leaderboard h4 {
  text-align: center;
}

.btn {
    border-width: 3px;
    font-size: 1.3rem;
}

button:hover {
    transform: scale(1.05);
}

.message {
  color: white;
  margin-top: 10x;
  margin-bottom: 0px;
}